<h3 style="color:darkgray;">Best Selliing Products</h3>
{{ errormsg }}  
<!-- ********** errormsg gives  error if data not fetch Properly ******** -->


<!-- *********** products contains list of all product which comes from db ********* -->
<div id="catalouge" *ngFor="let p of products">
  <div style="float:right;" class="card" style="width: 13rem;">
    <img
      class="card-img-top"
      src="assets/images/{{ p.img }}"
      alt="Card image cap"
    />
    <div class="card-body" style="position: relative;">
      <h6>{{ p.title }}</h6>
      <p>{{ p.weight }} : {{ p.price }} $</p>

      <!-- ******* Add cart button  show if id match with given pi.ids******** -->
      <div *ngIf="p.ids !== idmatch; then thenblock; else elseblock"></div>
      <ng-template #thenblock>
        <button
          #mybtn
          style="float:right;"
          id="{{ p.ids }}"
          (click)="toggle(mybtn, p)"
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >
          Add Cart
        </button>
      </ng-template>
      <ng-template #elseblock>
        <div style="float: right;">
          <button
            class="btn btn-outline-success my-2 my-sm-0 qnty-btn"
            (click)="quantityneg(p)"
            type="button"
          >
            -
          </button>
          {{ printQuantity(p) }}
          <button
            class="btn btn-outline-success my-2 my-sm-0 qnty-btn"
            (click)="quantitypos(p)"
            type="button"
          >
            +
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
