<div class="container">
  <div class="table-wrapper">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Customer Name</th>
          <th>Location</th>
          <th>Order Date</th>
          <th>Phone Number</th>
          <th>Net Amount</th>
          <th>order Detail</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- ***************  traverse loop fetch the details *********** -->
        <tr *ngFor="let o of orderSummary">
          <td>{{ count() }}</td>
          <td>{{ o.firstName + " " + o.lastName }}</td>
          <td>{{ o.address.state }} | {{ o.address.city }}</td>
          <td>{{ o.date }}</td>
          <td>{{ o.phoneNumber }}</td>
          <td>{{ o.netamount }} $</td>
          <td>
            <!-- ***************  traverse loop to fetch the nested order details *********** -->
            <div *ngFor="let item of o.order">
              {{ item.title }} : {{ item.quant }}
            </div>
          </td>
          <td>
            <a href="#" class="view" title="View Details" data-toggle="tooltip"
              ><i style="color :black;" class="fa fa-trash"></i
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
