<div class="signup-form" *ngIf="checkUrl() else login_content">
    <form [formGroup]="signupForm" (ngSubmit)="signupOperation()" method="post">
		<h2>Create an Account</h2>
		<p class="hint-text">Sign up with your social media account or email address</p>
		<div class="social-btn text-center">
			<a href="https://www.facebook.com/" class="btn btn-primary btn-lg"><i class="fab fa-facebook-f"></i> Facebook</a>
			<a href="https://twitter.com/" class="btn btn-info btn-lg"><i class="fab fa-twitter"></i> Twitter</a>
			<a href="https://plus.google.com/" class="btn btn-danger btn-lg"><i class="fab fa-google"></i> Google</a>
		</div>
		<div class="or-seperator"><b>or</b></div>
        <div class="form-group">
        	<input type="text" class="form-control input-lg" formControlName="username" placeholder="Username" required="required">
        </div>
		<div class="form-group">
        	<input type="email" class="form-control input-lg" formControlName="email" placeholder="Email Address" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" formControlName="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control input-lg" formControlName="confirm_password" placeholder="Confirm Password" required="required">
        </div>  
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block signup-btn">Sign Up</button>
        </div>
    </form>
    <div class="text-center">Already have an account? <a [routerLink]="'/login'">Login here</a></div>
</div>

<ng-template #login_content>
  <div class="signup-form">
      <form [formGroup]="loginForm" (ngSubmit)="loginOperation()" method="post">
          <h2>Login Account</h2>
          <p class="hint-text">Enter your registered userId & Password</p>
  <div class="form-group">
        <input type="email" class="form-control input-lg" formControlName="email" name="email" placeholder="Email Address" required="required">
      </div>
  <div class="form-group">
          <input type="password" formControlName="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-success btn-lg btn-block signup-btn" >Login</button>
  </div>
  </form>
</div>
</ng-template>