/* *************   sidebar class and sidebarid for show the popup ************ */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 70;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#cart_h5 {
  padding: 10px;
  float: left;
  color: white;
}
#cart_h6 {
  padding: 10px;
  margin: 10px;
  color: white;
}

.qnty-btn{
  margin :8px;
  border-radius: 50%;
  float: right;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 70;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
#cart_h5 {
  padding: 10px;
  float: left;
  color: white;
}
#cart_h6 {
  padding: 10px;
  margin: 10px;
  color: white;
}

/* .qnty-btn {
  margin: 10px;
  border-radius: 50%;
  float: right;
} */

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
