<!-- Bootstrap code modified -->
<nav class="navbar navbar-expand-lg  navbar sticky-top navbar-dark bg-dark">
  <div
    style="position: relative;"
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="navbar-brand" href="/">
          <img src="assets/logo.png" width="35" height="35" alt="Logo" />
          <label style="color: coral; padding-left: 10px; padding-right: 10px;"
            >Grocery</label
          >
        </a>
      </li>
      <li class="nav-item">
        <i
          class="fas fa-map-marker-alt"
          style="font-size:24px;color:black; margin-top: 8px;"
        ></i>
      </li>
      <li>
        <a class="nav-link" href="#">Location</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink] = "'/signup'">Login</a>
          <button
            class="dropdown-item"
            type="submit"
            (click)="orderSummaryfun()"
          >
          <!-- ******** orderSummaryfun use to navigate page*********** -->
            Orders
          </button>
          <!-- <a routerLink="\Orders" routerLinkActive="">Orders</a>  Not Working???????????????-->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Contact</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        style="width : 600px;"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <span style="float: left;" class="glyphicon glyphicon-shopping-cart"></span>
    <button
      style="margin:10px 20px 10px 150px; width:100px; "
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      (click)="openNav()"
    >
      <i class="fas fa-shopping-cart" style="font-size:36px;color:coral;"></i>
    </button>
  </div>
</nav>

<div [ngStyle]="sheet" id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">x</a>

  <!-- ***********javascript:void(0) use to close the popup********* -->
  <!--*********productArray contains list of item which already added into cart ********* -->
  <div *ngFor="let p of productArray">
    <span>
      <div style="color: white;" class="row">
        <div class="col">{{ p.title }}</div>
        <div class="col">{{ p.quant }}</div>
        <div class="col">{{ calculatePrice(p) }}$</div>
        <div class="col">
          <!-- ***********  quantityneg(p) to remove the item from cart   ************* -->
          <button
            class="btn btn-outline-success my-2 my-sm-0 qnty-btn"
            (click)="quantityneg(p)"
            type="button"
          >-</button>
        </div>
         <!-- ***********  quantitypos(p) to addup the item from cart   ************* -->
         <div class="col">
          <button
            class="btn btn-outline-success my-2 my-sm-0 qnty-btn"
            (click)="quantitypos(p)"
            type="button"
          >+</button>
          <div class="col"></div>
        </div>
      </div>
    </span>
  </div>
  <div style="margin-top:20px;">
    <button
      style=" width:80%; height :8%;"
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      (click)="checkout()"
    >
    <!-- **********     checkout method to navigate on other page ******* -->
      <span style="float: left;">Checkout</span>
      <i class="fa fa-arrow-right" style="font-size:24px"></i>
      <!-- ********** Total amount function calculate total price*********** -->
      <span style="float: right;">{{ totalAmount(productArray) }} $</span>
    </button>
  </div>
</div>
