.inner-div{
  margin: auto;
  width: 600px;
  height: 400px;
  background-color:#ccc;
  border-radius: 3px;
}
.outer-div
{
  height:350px;
  background-color: teal;
}
.banner{
  height: 50px;
  background-color: rgb(4, 61, 75);
}
.logo{
width: 150px;
height : 500px;

}
#content1{
float: left;
width: 50%;
height:400px;
}
img { 
  width:100%; 
  height:100%;
  vertical-align: initial;
}
#content2 {
padding: 10;
float: left;
width: 50%;
height:400px;
background-color: white;
}
input {
  align-items: center;
  width: 250px;
  margin-bottom: 10px;
  margin-left: 10px;
}
button{
  background: black;
  color: white;
  width :100px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow:none;
  margin-left: 20px;
  margin-right: 10px;
}
#btn{
  /*float:bottom;  /*right */
  width: 200px;
 /* display: flex;
  align-items: center;
  justify-content: center;*/
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  
}
#logo
{
  width: 50px; 
  height : 50px ;
  float:left;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

Resources
input{
  border: 2px solid black;
  border-radius: 10px;
  text-shadow:none;
}
input[type="text"]::placeholder {  
  color: rgb(4, 61, 75);
  text-align: center; 
}input[type="email"]::placeholder {  
  color: rgb(4, 61, 75);
  text-align: center; 
} 