#banner {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  width: 80%;
  background-color: black;
}
/* img { 
  
  width:100%; 
  height:100%;
  vertical-align: initial;
} */
/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
} */
