<div id="bannner">
  <div
    id="carouselExampleIndicators banner"
    class="carousel slide"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" id="banaer">
        <img class="center" src="assets/images/offer.PNG" />
      </div>
      <div class="carousel-item" id="banaer">
        <img class="center" src="assets/images/offer3.PNG" />
      </div>
      <div class="carousel-item" id="banaer">
        <img class="center" src="assets/images/offer2.PNG" />
      </div>
    </div>
    <a
      style="width:20px; background: black;"
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      style="width:20px; background: black;"
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="false"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<app-product-carousel></app-product-carousel>
