<!-- Default form register -->
<div
  [hidden]="thankyouFlag"
  class="row align-items-center justify-content-center"
>
 <!-- ************* checkoutForms  get all forms value ************ -->
  <form
    [formGroup]="checkoutForms" 
    (ngSubmit)="placeorder()"
    id="checkoutForm"
    class="text-center border border-light p-5"
    action="#!"
  >
    <div class="form-row mb-4 form-group">
      <div class="col">
        <!-- First name  validation -->
        <!-- ***********   [class.is-invalid] used to change the border red      ****************** -->
        <input
          [class.is-invalid]="getFirstName().invalid && getFirstName().touched"
          type="text"
          formControlName="firstName"
          id="defaultRegisterFormFirstName"
          class="form-control"
          placeholder="First name"
        />
      </div>
      <div class="col form-group">
        <!-- Last name -->
        <input
          [class.is-invalid]="getLastName().invalid && getLastName().touched"
          type="text"
          formControlName="lastName"
          id="defaultRegisterFormLastName"
          class="form-control"
          placeholder="Last name"
        />
      </div>
    </div>
    <div class="form-group">
      <!-- E-mail -->
      <input
        [class.is-invalid]="getEmail().invalid && getEmail().touched"
        type="email"
        formControlName="email"
        id="defaultRegisterFormEmail"
        class="form-control mb-4"
        placeholder="E-mail"
      />

      <div formGroupName="address">
        <!-- Address -->
        <input
          [class.is-invalid]="getCity().invalid && getCity().touched"
          type="text"
          formControlName="city"
          id="defaultRegisterFormPassword"
          class="form-control mb-4"
          placeholder="City"
          aria-describedby="defaultRegisterFormPasswordHelpBlock"
        />

        <div class="form-row mb-4">
          <div class="col">
            <!-- First name -->
            <input
              [class.is-invalid]="getState().invalid && getState().touched"
              type="text"
              type="text"
              formControlName="state"
              id="defaultRegisterFormFirstName"
              class="form-control"
              placeholder="State"
            />
          </div>
          <div class="col">
            <!-- Last name -->
            <input
              [class.is-invalid]="getPincode().invalid && getPincode().touched"
              type="text"
              type="text"
              formControlName="pincode"
              id="defaultRegisterFormLastName"
              class="form-control"
              placeholder="Zip code"
            />
          </div>
        </div>
      </div>

      <!-- Phone number -->
      <input
        [class.is-invalid]="
          getPhoneNumber().invalid && getPhoneNumber().touched
        "
        type="text"
        type="text"
        formControlName="phoneNumber"
        id="defaultRegisterPhonePassword"
        class="form-control form-text text-muted mb-4"
        placeholder="Phone number"
        aria-describedby="defaultRegisterFormPhoneHelpBlock"
      />

      <!-- ******************    Validatio **********************-->
      <div justify-content-center>
        <div
          class="text-danger"
          *ngIf="getLastName().invalid && getLastName().touched"
        >
          <small *ngIf="getLastName().errors?.required"
            >Last name should be Mandatory Field</small
          >
          <small *ngIf="getLastName().errors?.minlength"
            >Last name should be greater than 3 letter</small
          >
        </div>

        <div
          class="text-danger"
          *ngIf="getFirstName().invalid && getFirstName().touched"
        >
          <small *ngIf="getFirstName().errors?.required"
            >First name should be Mandatory Field</small
          >
          <small *ngIf="getFirstName().errors?.minlength"
            >First name should be greater than 3 letter</small
          >
        </div>

        <div
          class="text-danger"
          *ngIf="getEmail().invalid && getEmail().touched"
        >
          <small *ngIf="getEmail().errors?.email">It should be an Email</small>
          <small *ngIf="getEmail().errors?.required">Mandatory Field</small>
        </div>
        <div
          class="text-danger"
          *ngIf="getPhoneNumber().invalid && getPhoneNumber().touched"
        >
          <small *ngIf="getPhoneNumber().errors?.pattern"
            >Phone number must be 10 digit</small
          >
        </div>
      </div>
<!-- **************    validation over **************** -->



      <!-- Newsletter -->
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          formControlName="subscribe"
          class="custom-control-input"
          id="defaultRegisterFormNewsletter"
        />
        <label class="custom-control-label" for="defaultRegisterFormNewsletter"
          >Subscribe to our newsletter</label
        >
      </div>
    </div>
    <!-- Order PLace button -->
    <button
      [disabled]="checkoutForms.invalid"
      class="btn btn-info my-4 btn-block "
      type="submit"
    >
      Place order
    </button>

    <hr />

    <!-- Terms of service -->
    <p>
      By clicking <em>Place Order</em> you agree to our
      <a href="" target="_blank">terms of service</a>
    </p>
  </form>
</div>
<!-- // Thankyou Page -->

<div [hidden]="!thankyouFlag" class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">
    <strong>Order Placed Please check your email</strong> for Invoice.
  </p>
  <hr />
  <p>Having trouble? <a href="">Contact us</a></p>
  <p class="lead">
    <a
      style="background: green; color: whitesmoke;"
      class="btn btn-outline-success my-2 my-sm-0"
      type="button"
      href="/"
      >Continue to homepage</a
    >
  </p>
</div>
