.scientific{
  margin: auto;
  width: 610px;
  height: 230px;
  background-color:#ccc;
  border-radius: 3px;
}
.basic{
  margin: auto;
  width: 480px;
  height: 210px;
  background-color:#ccc;
  border-radius: 3px;
}
#scientific{
  display: none;
}
.banner{
  height: 50px;
  background-color: rgb(4, 61, 75);
}
.logo{
width: 150px;
height : 500px;

}
img { 
  width:100%; 
  height:100%;
  vertical-align: initial;
}
#btn{
  background: black;
  color: white;
  width :60px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow:none;
  margin-left: 20px;
  margin-right: 10px;
}

#switchbtn{
  background: black;
  color: white;
  width :150px;
  border: 2px solid black;
  border-radius: 15px;
  margin-left: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow:none;
}
#ScientificResult { 
  width : 400px;
  margin-left: 20px;
  border: 2px solid black;
  color: balck;
  border-radius: 10px;
  text-shadow:none;
}
#BasicResult { 
  width : 250px;
  margin-left: 20px;
  border: 2px solid black;
  color: balck;
  border-radius: 10px;
  text-shadow:none;
}
#logo
{
  width: 50px; 
  height : 50px ;
  float:left;
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
